@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: flex;
}

p {
    margin: 0;
}

.side-bar {
    width: 250px;
    height: 100vh;
    background-color: #F6F8FF;
    display: flex;
    padding: 34px 0px 0px 39px;
    gap: 40px;
    flex-direction: column;
}

.emphasised {
    font-weight: 700;
}

.tag-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-text {
    color: #707070;
    font-weight: 700;
}

.tag-list-item {
    display: flex;
    height: 20px;
    gap: 10px;
    align-items: center;
}

.tag-list-item p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.tag-list-item-todo-count {
    background-color: #2A2E86;
    color: white;
    max-height: 20px;
    border-radius: 96px;
    padding: 2px 11px 2px 11px;
}

.modal {
    background-color: rgba(00,00,00,0.7);
    width: 100%;
    height:100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

.hidden {
    display: none;
}

.modal-content {
    width: 581px;
    min-height: 289px;
    height:auto;
    margin: 183px auto auto auto;
    background-color: #fff;
    padding-bottom: 61px;
}

.large-title {
    font-size: 32px;
    font-weight: 700;
}

.modal-header {
    padding-top: 61px;
    margin-left: 65px;
}

.modal-input {
    margin: 46px auto 21px 65px;
    width: 447px;
    height: 43px;
    border-radius: 59px;
    border: 1px solid #707070;
    padding-left: 26px;
    box-sizing: border-box;
}

.btn {
    display: block;
    margin-right: 67px;
    margin-left: auto;
    height: 41px;
    width: 66px;
    background-color: #2A2E86;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    /* margin-bottom: 61px; */
    margin-top:21px;
}

.body {
    width: auto;
    height: auto;
    margin-top: 135px;
    margin-left: 164px;
    display: flex;
    flex-direction: column;
    gap:36px;
}

.create-task-container {
    display: flex;
    gap: 23px;
}

.task-input {
    border: none;
    border-bottom: 1px solid #707070;
    padding-bottom: 8px;
    box-sizing: border-box;
    width: 132px;
}

.task-input-wide {
    width: 466.5px;
    color: #707070;
    font-family: inherit;
}

input:focus{
    outline: none;
}

.create-task-container img { 
    max-height: 14px;
    align-self: center;
}

.date-picker{
    color: #707070;
    font-family: inherit;
}

.todo-container {
    width: auto;
    height: 70px;
    background-color: #F7F8FF;
    position: relative;
    box-sizing:content-box
}

.checkbox {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 12px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
}

.todo-date{
    position: absolute;
    /* width: 92px; */
    /* height: 16px; */
    left: 494px;
    top: 12px;
    text-align: right;
}

.tag-list-container {
    display: flex;
    position: absolute;
    top: 40px;
    left: 42px;
    gap: 15px;
}

.todo-name {
    position: absolute;
    width: 425px;
    height: 16px;
    left: 42px;
    top: 12px;
}

.tag-ui {
    display: flex;
    align-items: flex-start;
    padding: 2px 11px;
    background: #2A2E86;
    border-radius: 96px;
    color: white;
}

.add-tag {
    color: #2A2E86;
    align-self: center;
}

.todo-list-container{
    display: flex;
    flex-direction: column;
    width: inherit;
    gap: 10px;

}

.edit-tag-list-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 46px;
    margin-bottom: 21px;
    box-sizing: border-box;
}

.edit-tag-list-tag {
    padding-top: 14px;
    margin: 0 auto 0 65px;
    width: 447px;
    height: 43px;
    border-radius: 59px;
    border: 1px solid #707070;
    padding-left: 26px;
    box-sizing:border-box;
}

.tag-selected {
    color: #fff;
    background-color: #2A2E86;
}

.completed-task {
    border: solid 1px green;
}